.hide {
  display: none;
}


* {
    box-sizing: border-box;
  --text-size-tiny: 12px;
  --text-size-small: 14px;
  --text-size-medium: 15px;
  --text-size-big: 16px;
  --text-size-large: 17px;
  --text-size-huge: 18px;
}

:root {
    --body-bg-color: #3d4550;
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113 119 144 / 78%);
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #797e84;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --border-card-color: rgb(70 70 70);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --subtitle-bg: rgb(0 102 153);
    --search-bg: rgb(255 255 255 / 8%);
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: #428bff;
    --border-box: #777;
    --shador-color-icons: rgb(79 79 79 / 100%);
    --subtitle: rgb(255 255 255 / 100%);
    --search-color: rgb(155 155 155 / 100%);
    --search-color-over: #fff;
    --footer-bg-color: #2a303a;
    --box-color-shadow-01: rgba(0, 0, 0, 0.2);
    --text-a-color: #ccc;
}

.light-mode {
    --body-bg-color: #252d37;
    --theme-bg-color: rgb(255 255 255 / 31%);
    --theme-color: #3c3a3a;
    --inactive-color: #333333;
    --button-inactive: #3c3a3a;
    --border-card-color: rgb(188 191 193);
    --search-bg: rgb(255 255 255 / 31%);
    --dropdown-bg: #f7f7f7;
    --overlay-bg: rgb(255 255 255 / 30%);
    --dropdown-hover: rgb(236 236 236);
    --border-color: rgb(255 255 255 / 35%);
    --popup-bg: rgb(255 255 255);
    --subtitle-bg: rgb(255 255 255);
    --hover-menu-bg: rgba(255 255 255 / 35%);
    --scrollbar-bg: #428bff;
    --content-title-color: --theme-color;
    --content-bg: rgb(255 255 255 / 19%);
    --border-box: #aaa;
    --logo-big: invert(100%);
    --shador-color-icons: rgb(0 0 0 / 28%);
    --subtitle: rgb(0 0 0 / 100%);
    --search-color: rgb(100 100 100 / 100%);
    --search-color-over: #000;
    --footer-bg-color: #6c6d6d;
    --box-color-shadow-01: rgba(0, 0, 0, 0.2);
    --text-a-color: #444;
}

body {
    /*background-image: url(https://forum.biglinux.com.br/uploads/default/original/2X/f/f5679ca17fad618b3dc755347e2cb2677dd5ecfb.jpeg);*/
    background-color: var(--body-bg-color);
    display: flex;
    flex-direction: column;
    padding: 0;
    /*width: 100%;*/
    /*height: 100vh;*/
    margin: 0;
    /*font-family: Lato, sans-serif;*/
    /*min-height: 100vh;*/
    width: 100vw;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    font-family: "Lato", sans-serif;
    
}


  /* --------------------------- */
 /*  OPEN CHANGE COLOR BUTTON   */
/* --------------------------- */
.dark-light {
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: var(--dropdown-bg);
    box-shadow: -1px 3px 8px -1px var(--box-color-shadow-01);
    padding: 8px;
    border-radius: 50%;
    z-index: 3;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.dark-light svg {
    width: 24px;
    flex-shrink: 0;
    fill: #ffce45;
    stroke: #ffce45;
    transition: 0.5s;
}

.light-mode .dark-light svg {
    fill: transparent;
    stroke: var(--theme-color);
}

.light-mode .profile-img {
    border: 2px solid var(--theme-bg-color);
}
  /* ---------------------------- */
 /*  CLOSE CHANGE COLOR BUTTON   */
/* ---------------------------- */

.light-mode .content-section ul {
    background-color: var(--theme-bg-color);
}

.light-mode .pop-up__title {
    border-color: var(--theme-color);
}

.light-mode .dropdown.is-active ul {
    background-color: rgba(255, 255, 255, 0.94);
}

body.light-mode:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
}


@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

p {
  font-weight: 400;
  font-size: 0.7rem;
  color: var(--theme-color);
}

h4 {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: var(--theme-color);
}

.container {
    background-color: var(--theme-bg-color);
    height: 100vh;
    /* min-height: 700px; */
    /* max-height: 750px; */
    overflow: hidden;
    width: 100%;
    /* max-width: 1400px; */
    border-radius: 15px;
    display: flex;
    /* box-shadow: 0 50px 100px rgb(0 0 0 / 50%); */
    position: relative;
}

/* -------------------------navbar-------------------------- */
nav {
  width: 80px;
  border-right: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  color: white;
  position: relative;
}

/*.logo {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

/* LOGO */
.logo-biglinux {
    filter: var(--logo-big);
}

.logo {
    z-index: 2;
    position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}

.logo img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40px;
}

.logo a {
  width: 100%;
  height: 100%;
  display: block;
}


nav ul {
  list-style: none;
}

nav ul li {
  padding: 7px;
  margin: 30px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--theme-color);
  width: 32px;
  height: 32px;
}

nav ul i {
  /*color: rgba(255, 255, 255, 0.5);*/
  color: var(--theme-color);
}

nav ul li:hover,
nav li.active {
  background-color: #3482e7;
}

nav ul li:hover i,
nav li.active i {
  color: white;
}

.fa-shopping-bag {
  transform: translateX(3px);
}

/* -------------------------navbar end-------------------------- */
.right-main {
    padding: 30px 25px;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------main-------------------------- */
main {
  flex: 1;
}

.main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search > input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-a-color);
  height: 100%;
  width: 100%;
  margin-left: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 5px;
}

.search > input::placeholder {
  font-weight: 600;
}

.search {
  width: 30%;
  min-width: 300px;
  padding: 6px 15px;
  background-color: var(--search-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  color: var(--search-color-over);
}

.top {
  width: 8%;
  display: flex;
  justify-content: space-between;
  color: var(--theme-color);
  max-width: 130px;
}

.top i {
/*  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: relative;
  cursor: pointer;*/

    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    padding: 8px;
    fill: var(--button-inactive);
}

.top .fa-bars {
  display: none;
}

.top i:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

header {
  padding: 70px 30px 30px 30px;
/*  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-color: #313237;*/
  /*background-image: linear-gradient(to top, var(--content-bg) 50%, var(--overlay-bg) 90%);*/
  background-image: radial-gradient(ellipse at top, var(--content-bg), var(--overlay-bg));
  position: relative;
  margin-bottom: 30px;
  
  
    font-size: var(--text-size-big);
    background-color: var(--content-bg);
    fill: var(--text-a-color);
    border-radius: 15px;
    border: 1px solid var(--border-card-color);
    /* border: 2px solid rgb(255 255 255 / 0%);  */
  
  
}

.principal-img {
  width: 400px;
  position: absolute;
  top: -40px;
  right: -20px;
  
  
  
}

.principal-img img {
  max-width: 100%;
}

.tag {
  padding: 0.3em 0.75em;
  background-color: #ff3d3d;
  border-radius: 5px;
  font-size: 0.8rem;
  color: white;
  width: max-content;
  margin-bottom: 20px;
}

header h1 {
  color: var(--theme-color);
  width: 50%;
  margin-bottom: 20px;
}

.purchase {
  background-color: var(--theme-bg-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 200px;
  justify-content: space-between;
}

.purchase h2 {
  font-size: 0.8rem;
  color: var(--theme-color);
  padding: 0 10px;
}

.purchase button {
  padding: 1em 2em;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Lato", sans-serif;
  background-color: #428bff;
  color: white;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.purchase button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #428bff;
  filter: blur(10px);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.purchase button:hover::after {
  opacity: 1;
}

.most-played {
  max-width: 100%;
  color: var(--theme-color);
}

.most-played h3 {
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.game-image-container {
  height: 150px;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 10px;
}

.games-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.games-card img:hover {
  transform: scale(1.15);
}

.games-card button {
  padding: 0.4em 2em;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Lato", sans-serif;
  background-color: #428bff;
  color: white;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.games-card button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #428bff;
  filter: blur(10px);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.games-card button:hover::after {
  opacity: 1;
}



/* -------------------------------------main end-------------------------------------------- */
.main-flex {
  display: flex;
  margin-top: 30px;
}

.main-header {
    align-items: center;
    height: 58px;
    flex-shrink: 0;
    /*display: none;*/
}

.main-container {
    display: block;
    width: 100%;
    height: 100%;
}

.menu-link-main {
    text-decoration: none;
    color: var(--theme-color);
    /*padding: 0 30px;*/
    padding: 0 0px;
}
/* -----------------------------------------aside---------------------------------------------- */
aside {
  flex: 0.5;
  /*margin-left: 30px;*/
}

.library {
  clear: right;
  color: var(--theme-color);
  padding: 30px;
  background-image: linear-gradient(to top, var(--content-bg) 50%, var(--overlay-bg) 90%);
  /*background-image: radial-gradient(ellipse at top, var(--content-bg), var(--inactive-color));*/
  
/*  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.1);*/
  
    font-size: var(--text-size-big);
    background-color: var(--hover-menu-bg);
    fill: var(--text-a-color);
    border-radius: 14px;
    border: 1px solid var(--border-card-color);
    margin-left: 30px;
}

.library-card {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside svg {
  width:  20px;
  height: 20px;
}  

.game-logo {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.game-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-details {
  flex: 0.9;
}

.library-card i {
  cursor: pointer;
  flex: 0.1;
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
}

.fa-check-circle {
  color: #3482e7 !important;
  font-size: 1.1rem;
}

.library hr {
  border: none;
  height: 1px;
  background-color: var(--button-inactive);
  width: 90%;
  margin: 20px auto;
}

.offline,
.online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background-color: #17dd17;
}

.offline {
  background-color: #ff3d3d;
}

.attribution {
  margin-top: 30px;
  color: #1a1b1f;
}

.attribution a {
  text-decoration: none;
  color: inherit;
}


#hamburger {
  display: none;
}

/* ------------------media query--------------------- */
@media (max-width: 1200px) {
  #hamburger {
    display: flex;
  }
  #hamburger svg {
    z-index: -1;
  }
 
  aside {
    position: fixed;
    inset: 0;
    background-color: rgb(22 25 37 / 90%);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s linear;
    pointer-events: none;
  }

  .library {
    /* bottom: 20px; */
    position: absolute;
    right: -50%;
    transition: right 0.2s linear;
    top: 98px;
  }

  aside.active .library {
    right: 24px;
    pointer-events: all;
  }

  aside.active {
    opacity: 1;
    height: calc(100vh - -35rem);
  }

  .top {
    width: 20%;
    z-index: 4000;
  }

  .top .fa-bars {
    display: grid;
  }
}
@media (max-width: 1000px) {
  .principal-img {
    top: -9px;
  }
  .principal-img img {
    max-width: 80%;
  }  
  
  header {
    padding: 30px 20px;
  }

  header h1 {
    width: 70%;
    position: relative;
    z-index: 2;
  }

  .spiderman-img {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .search {
    min-width: 0;
    width: 50px;
    height: 50px;
    padding-left: 17px;
    overflow: hidden;
    cursor: pointer;
    transition: width 0.2s linear;
  }

  .search.active {
    width: 50%;
  }

  .top {
    width: 30%;
  }

  .main-flex {
    height: 100%;
  }

  .cards {
    display: block;
    overflow: auto;
  }

  .most-played {
    height: 39%;
    overflow: auto;
  }

  .most-played::-webkit-scrollbar {
    display: none;
  }

  .games-card {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .main-flex {
/*    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;*/
  }

  .spiderman-img {
    top: 0;
    right: -50px;
  }

  .main-container {
    width: 100%;
  }

  .right-main {
    padding: 30px 20px;
  }

  nav {
    display: none;
  }

  .main-flex::-webkit-scrollbar {
    /*display: none;*/
  }

  .most-played {
    height: max-content;
  }
}

  /* ------------------- */
 /*   OPEN SCROLL BAR   */
/* ------------------- */
::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 10px;
}
  /* ------------------- */
 /*   CLOSE SCROLL BAR   */
/* ------------------- */


  /* ------------- */
 /*   OPEN DISC   */
/* ------------- */
.pie {
  position: relative;
  display: inline-block;
  background-image: conic-gradient(
    rgba(0,0,0,0) calc(3.6deg * var(--percent)),
    rgba(0,0,0,1) calc(3.6deg * var(--percent))
  );
  background-blend-mode: overlay;
  background-position: 50% 50%;
  background-size: 150%; /* oversize bg image to prevent "underdraw" */
  width: 3.75em;
  height: 3.75em;
  border-radius: 50%;
}

/* show the percentage (thanks to Ana Tudor for the counter() trick) */
.pie--value::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  counter-reset: percent var(--percent);
  content: counter(percent) "%";
  color: #fff;
  text-shadow: 0 0 1px #000;
}

.pie--disc::before {
  content: '';
  position: absolute;
  top: .5em;
  left: .5em;
  right: .5em;
  bottom: .5em;
  border-radius: 50%;
  background: #fff;
}

.pie--disc::after {
  color: #000;
  text-shadow: none;
}


/* demo styles
----------------------------------------------------- */

.pie {
  border: .15em solid #fff;
  box-shadow: 0 .075em .2em .05em rgba(0,0,0,.25);
  margin: .75rem;
}
.pie:nth-child(1) {
  background-color: #d44;
}
.pie:nth-child(2) {
  background-color: #fc3;
}
.pie:nth-child(3) {
  background-color: #ac0;
}
.pie:nth-child(4) {
  background-color: #0ac;
}
.pie:nth-child(5) {
  background-color: #d6b;
}

.big {
  font-size: 200%;
}
.med {
  font-size: 150%;
}
.sml {
  font-size: 100%;
}

  /* -------------- */
 /*   CLOSE DISC   */
/* -------------- */



